footer.footer {
  background-color: #f0f9f8;
  padding: 50px;
  color: #006e7f;
  position: relative;
}
footer.footer a {
  text-decoration: none;
  color: #006e7f;
  font-size: 14px;
}
footer.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f0f9f8;

  color: #006e7f;
  position: relative;
}
footer.footer ul li {
  margin-bottom: 0.3rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.logoFooter {
  margin-bottom: 1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.col {
  flex: 1;
  font-size: 15.3px;
}
.navFooter a {
  display: block;
  text-align: center;
  border: 1px solid #006e7f;
  margin-bottom: 0.5rem;
  padding: 5px 20px;
}

footer.footer nav ul {
  max-width: 1200px;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer.footer nav ul li:not(:first-child)::before {
  content: "-";
  position: relative;
  margin: 0 5px;
}

@media screen and (max-width: 440px) {
  .row {
    flex-direction: column;
  }
  footer.footer nav ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  footer.footer nav ul li:not(:first-child)::before {
    content: "";
    position: relative;
    margin: 0;
  }
  footer.footer nav {
    padding: 0;
    margin-top: 1rem;
  }
}
