* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 2rem auto;
  animation: animate 0.5s ease-in-out forwards;
}
.mainHeader {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 27%), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}
nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  max-width: 900px;
  margin-bottom: 1rem;
}
h4 {
  font-weight: normal;
  font-size: 1rem;
}
form {
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid #dcdcdc;
}
form button {
  border-radius: 0;
  border: 0px;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}
.backHomeBtn {
  color: #006e7f;
}
@keyframes animate {
  0% {
    opacity: 0;
    top: -50px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
